<?xml version="1.0"?>
<launch>

    <include file="$(find racecar_description)/launch/racecar.launch"></include>            #racecar.launch



    <node name="rviz" pkg="rviz" type="rviz"                                                
          args="-d $(find racecar_description)/rviz/racecar_urdf.rviz" required="true">     #rviz
    </node>


    <node name="map_server" pkg="map_server" type="map_server" args="$(find zj_hector)/map/map_runway.yaml" >  #map_server
    </node>

    <include file="$(find racecar_description)/launch/includes/amcl.launch.xml"/> #amcl

    <!--  ************** Navigation ***************  -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find teb_local_planner_tutorials)/cfg/carlike/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find teb_local_planner_tutorials)/cfg/carlike/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find teb_local_planner_tutorials)/cfg/carlike/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find teb_local_planner_tutorials)/cfg/carlike/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find teb_local_planner_tutorials)/cfg/carlike/teb_local_planner_params_noteb.yaml" command="load" />

		<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="10.0" />
		<param name="planner_patience" value="5.0" />

		<param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="10.0" />
		<param name="controller_patience" value="15.0" />

        <param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot is not able to rotate in place -->
	</node>

    <!--node name="ZJ_keyboard_remote" pkg="zj_pkg" type="ZJ_keyboard_remote.py"/-->             #ZJ_keyboard_remote.py

    <node name="ZJ_play" pkg="zj_pkg" type="ZJ_play_noteb_max.py"/>             #ZJ_play.py


</launch>
